main {
    grid-column: 2/3;
    align-items: center;
}

aside {
 width: 20rem;
 position: relative;
 grid-column: 1/2;
 grid-row: 1/2;
}

aside img {
    width: 200px;
}

main img {
    width: 150px;
    height: auto;
}

p {padding: 0;}

* {
    max-width: 840px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

main img {
    float: right;
    background-color: white; 
    padding: 5px;
    box-shadow: 3px 3px 8px #000000;
}
main h1 {
    border-bottom: steelblue 2px solid;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.grid {
    display: grid;
    align-items: center;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    width: auto;
}


