main {
    max-width: 840px;
}

aside {
    margin: 1em;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
}

main img {
    width: 150px;
    height: auto;
}

p {padding: 0;}

